@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');


* {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

body {
    font-size: 18px;
    margin: 0;
}

.hero, footer, header {
    background-color: #1f2937;
    color: #f9faf8;
}

.align-container {
    width: 75vw;
    margin: 0 auto;
}

/* nav style */
nav {
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

ul a {
    color: #e5e7eb;
    text-decoration: none;
    padding: 16px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

/* nav hero*/
.hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    height: 60%;
    display: flex;

    justify-content: space-between;
}

.hero-info {
    width: 45%;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-imgcontainer img {
    height: 100%;
    width: auto;
}

/*info style*/

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #1f2937;
}

.info h2 {
    margin: 48px 0;

    font-size: 36px;
    font-weight: bold;
}

/*cards style*/
.cards {
    
    display: flex;
    justify-content: center;
    gap: 48px;

    margin-bottom: 96px;
}

.card { 
    text-align: center;
    width: 160px;
    font-size: 17px;
}

.card-img {   
    height: 160px;
    
    border: #3882f6 4px solid;
    border-radius: 16px;
}

/*quote style*/

.quote {
    background-color: #e5e7eb;
}

.quote-container {
    height: 60vh;
    width: 55vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-size: 36px;
    font-style: italic;
}

.signature {
    margin: 16px;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    align-self: end;
}

/*quote style*/

.call {
    margin: 96px auto;

    background-color: #3882f6;
    color: white;

    border-radius: 8px;
}

.call-container {
    width: 60vw;
    margin: 0 auto;
    padding: 48px 0;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.call button {
    border: white 2px solid;
    margin: 0;
}

.call h3 {
    margin: 0;
    font-weight: bold;
}

button {
    font-size: 18px;
    margin: 16px 0;
    padding: 8px 32px;
    border-style: none;
    border-radius: 8px;
    
    font-weight: bold;

    color: white;
    background-color: #3882f6;  
}

footer {
    text-align: center;
}