@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');


* {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

body {
    margin: 0;
}

.hero, footer, header {
    background-color: #1f2937;
    color: #f9faf8;
}

/* nav style */
nav {
    width: 75vw;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

ul a {
    color: #e5e7eb;
    text-decoration: none;
    padding: 16px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

/* nav hero*/
.hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 75vw;
    height: 60%;
    display: flex;

    justify-content: space-between;
}

.hero-info {
    width: 45%;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-imgcontainer img {
    height: 100%;
    width: auto;
}

button {
    margin: 16px 0;
    padding: 8px 32px;
    border-style: none;
    border-radius: 8px;
    
    font-weight: bold;

    color: white;
    background-color: #3882f6;  
}